<%= simple_form_for(@card, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :image, label: "Upload an image" %>
  	<%= f.input :image_remote_url, label: "or Enter a URL" %>
    <%= f.input :description, as: :text, input_html: { rows: "3" } %>
    <%= f.input :location, as: :string %>
    <%= f.input :link, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
    <%= f.input :more_info, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
    <%= f.collection_select(:category_id, Category.all, :id, :show_category, :prompt => "Select Category") %>
    <%= f.collection_select(:city_id, City.all, :id, :show_city_name, :prompt => "Select City") %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
