<div class="row">
	<div class="span4 pull-left">
			<%= image_tag @card.image %>
	</div>

	<div class="span8 pull-right">
		<span class="label label-important">
		  Description
		</span>
		<hr style="margin-top: 1px; margin-bottom: 10px;">
		<p><%= @card.description %></p>
		
		<span class="label label-important">
		  Location
		</span>
		<hr style="margin-top: 1px; margin-bottom: 10px;">

		<span class="label label-important">
		  Tips & Further Information
		</span>
		<hr style="margin-top: 1px; margin-bottom: 10px;">
	
		<p>
			Added by: <%= link_to @card.user.name, @card.user %>
		</p>
		<% if current_user == @card.user %>
				<%= link_to 'Edit', edit_card_path(@card) %> |
		<% end %>
			<%= link_to 'Back', cards_path %>
	</div>



