<div class="body">
	<div class="white-content-container">
		<div class="row">
				<div class="span10 offset1">
					<p><span class="tag">Eateries</span></p>
				
					<p><div class="text-center"><%= image_tag @card.image(:large) %></div></p>
					<hr style="margin-top: 1px; margin-bottom: 10px;">

					<p>	
						<div class="row">
							<div class="span4 pull-left">
								<i class="icon-tags"></i> <strong>Description</strong>
								<hr style="margin-top: 1px; margin-bottom: 10px;">
								<p><%= @card.description %></p>

								<i class="icon-map-marker"></i> <strong>Location</strong>
								<hr style="margin-top: 1px; margin-bottom: 10px;">
								<p><%= @card.location %></p>
								<p><%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@card.latitude}%2C#{@card.longitude}" %></p>

								<i class="icon-plus"></i> <strong>Elsewhere on the Web</strong>
								<hr style="margin-top: 1px; margin-bottom: 10px;">
								<p><%= @card.link %></p>

								<p>
									Added by: <%= link_to @card.user.name, @card.user %>
								</p>
								
								<% if current_user == @card.user %>
									<%= link_to 'Edit', edit_card_path(@card) %> |
								<% end %>
									<%= link_to 'Back', cards_path %>
							</div>

							<div class="span6 pull-right">
								<i class="icon-comment"></i> <strong>Insider Tips</strong>
								<hr style="margin-top: 1px; margin-bottom: 10px;">
							<p><%= raw(@card.more_info) %></p>
						</div>
					
					</p>
				</div>
		</div>
	</div>
</div>



