<div class="body">
		<div class="row">
				<div class="span10 offset1">
					<p><span class="tag"><%= @card.category.name %></span></p>
				
					<p><div class="text-center"><a id="main_image"><%= image_tag @card.image(:large) %></a></div></p>
					<hr style="margin-top: 1px; margin-bottom: 10px;">

					<p>	
						<div class="row">
							<div class="span4 pull-left">
								<div class="white-content-container">

								<i class="icon-tags"></i> <strong>Description</strong>
								<hr style="margin-top: 1px; margin-bottom: 10px;">
								<p><%= @card.description %></p>

								<i class="icon-map-marker"></i> <strong>Location</strong>
								<hr style="margin-top: 1px; margin-bottom: 10px;">
								<p><%= @card.location %></p>
								<div id="locations">
								</div>

								<i class="icon-plus"></i> <strong>Elsewhere on the Web</strong>
								<hr style="margin-top: 1px; margin-bottom: 10px;">
								<p><%= raw(@card.link) %></p>

								<p>
									<strong>Added by:</strong> <%= link_to @card.user.name, @card.user %>
								</p>
								
								<% if current_user == @card.user %>
									<%= link_to 'Edit', edit_card_path(@card) %> |
								<% end %>
									<%= link_to 'Back', cards_path %>
							</div>
						</div>

							<div class="span6 pull-right">
								<i class="icon-comment"></i> <strong>Insider Tips</strong>
								<hr style="margin-top: 1px; margin-bottom: 10px;">
							<p><%= raw(@card.more_info) %></p>
							</div>
						</p>
								<script type="text/javascript"
								  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz3cAvwY90pEX2qnzKga6LP8B3kTkPRzE&sensor=false">
								</script>

								<script type="text/javascript">
								var myLatlng = new google.maps.LatLng(<%= @card.latitude %>, <%= @card.longitude %>);
								var map
								var marker
								function initialize() {
								        var mapOptions = {
								          center: myLatlng,
								          zoom: 13,
								          mapTypeId: google.maps.MapTypeId.ROADMAP
								        };

								        map = new google.maps.Map(document.getElementById("map"),
								            mapOptions);
								        
								        marker = new google.maps.Marker({
											      position: myLatlng,
											      map: map,
											      draggable:true,
    												animation: google.maps.Animation.DROP,
											      title: 'Hello World!'
											  });

											  google.maps.event.addListener(marker, 'click', toggleBounce);
											}

								function toggleBounce() {

									  if (marker.getAnimation() != null) {
									    marker.setAnimation(null);
									  } else {
									    marker.setAnimation(google.maps.Animation.BOUNCE);
									  }
								}

								google.maps.event.addDomListener(window, 'load', initialize);

									$("#locations").prepend('<div id="map"></div>');

								</script>
				</div>
		</div>
</div>



